.section-title{
    text-align:center;
    margin-bottom:50px;
    font-weight:700;
}

.services-section,
.why-us,
.projects{
    padding:100px 0;
}

.service-card,
.project-card,
.feature-box{

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

    transition:.3s;
}

.service-card:hover,
.project-card:hover,
.feature-box:hover{

    transform:translateY(-10px);
}

.service-card h3{
    color:#00AEEF;
}

.projects{
    background:#f8f9fa;
}

.cta{
    background:#0F172A;

    color:white;

    padding:100px 0;
}

.hero-buttons{
    margin-top:25px;
}

.hero-buttons a{
    margin-right:10px;
}
/* Navbar Logo */

.navbar-logo{
    height:55px;
    width:auto;
    transition:0.3s ease;
}

.navbar-logo:hover{
    transform:scale(1.05);
}

/* Better Navbar */

.navbar{
    backdrop-filter:blur(10px);
}

.nav-link{
    font-weight:500;
    transition:0.3s;
}

.nav-link:hover{
    color:#00d4ff !important;
}
.info-card h6,
.form-card h3{
    color:#ffffff;
    font-weight:700;
}

.info-card p,
.contact-subtitle,
.stat p{
    color:rgba(255,255,255,0.85);
}

.info-item a{
    color:white;
    text-decoration:none;
}

.info-item a:hover{
    color:#38BDF8;
}

