<form>

<input
type="text"
class="form-control mb-3"
placeholder="Full Name">

<input
type="text"
class="form-control mb-3"
placeholder="Company Name">

<input
type="text"
class="form-control mb-3"
placeholder="Project Type">

<input
type="text"
class="form-control mb-3"
placeholder="Budget">

<input
type="text"
class="form-control mb-3"
placeholder="Deadline">

<textarea
class="form-control mb-3"
placeholder="Project Description">
</textarea>

<button
class="btn btn-success">

Book Consultation

</button>

</form>